*{
	font-family: 'Oswald', Helvetica;
}

body{
	background-size: 33.3333% auto;
	background-image:url('../img/grass.png');
}

.navbar{
	background:#013368;
	background-image:url('../img/blue.png');
	border-width:0px;
	-webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.75);
}

#navbar-1 .navbar-container{
	background-image:url('../img/NFL_sideways.png');
	background-size:500px auto;
	background-position:120% 50%;
	background-repeat: no-repeat;
}

.navbar a{
	cursor:pointer;
}

.navbar-top-2{
	margin-top:50px;
	background:#B6061D;
	background-image:url('../img/red.png');
	-webkit-box-shadow: 0px -6px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -6px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -6px 16px 0px rgba(0,0,0,0.75);
}

#week-container{
	overflow: auto;
}

#week-container table{
	width:100%;
	table-layout:fixed;
}

#week-container td{
	color:#888;
	padding:12px 5px;
	width:50px;
	text-align:center;
	cursor:pointer;
}

#week-container td:hover{
	color:white;
}

.container{
	margin-top:100px;
	margin-bottom:50px;
	text-align:center;
}

.select-game{
	margin-bottom:50px;
}
.select-game-shadow{
	-webkit-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 13px 0px rgba(0,0,0,0.75);
}

.select-game div{
	padding:0px;
}

.select-team{
	padding-top:10px;
	padding-bottom:10px;
	background-size:45% auto;
	background-position:-10% 50%;
	background-repeat: no-repeat;
	height:60px;
	cursor:pointer;
}

.select-away-team{
	background-color:#ccc;
	background-position:10% 50%;
}

.select-team:hover{
	background-color:#347B4E !important;
}

.select-home-team{
	background-color:rgba(51,51,51,0.3);
	background-position:90% 50%;
}

.select-date{
	padding:0px;
	padding-top:10px !important;
	background:#888;
	color:white;
	height:40px;
}

.select-day{
	padding:0px;
	padding-top:10px !important;
	background:#666;
	color:white;
	height:40px;
}

.week-header{
	background:#112;
	color:white;
	padding:20px 5px;
	margin-bottom:30px;
}

td.active{
	color:white !important;
}

.navbar-title{
	color:white !important;
}

.collapse{
	z-index:100;
}

.navbar ul, .navbar li{
	padding-left: 30px;
	padding-right: 30px;
}

.team-code{
	background-color:#ccc;
	color:white;
	padding-top:5px !important;
	height:60px;
}

.modal-body{
	max-height:400px;
	overflow:auto;
	text-align:center;
}

.modal-dialog{
	width:90%;
}

.modal-header{
	background:#013368;
	color:white;
}

.modal-footer{
	background:#B6061D;
}

.standings-conference{
	padding:4px 8px;
	background:#333;
	color:white;
	text-align:left;
}

.standings-division{
	color:white;
	padding:0px;
	text-align:center;
	padding-top:70px;
	padding-bottom:70px;
}

.standings-code{
	padding-right:5px;
}

.standings-division:nth-child(4n), .standings-division:nth-child(4n+1){
	background:#444;
}

.standings-division:nth-child(4n+2), .standings-division:nth-child(4n+3){
	background:#222;
}

.modal-body .team-record, .modal-body .team-schedule, .modal-body .team-schedule-week{
	padding:10px;
	color:white;
	background-size:100px auto;
	background-position:-60px 50%;
	background-repeat: no-repeat;
	text-align:right;
}

.team-schedule-vs{
	color:white;
	background:#333;
	padding:10px;
	text-align:center;
	margin-bottom:5px;
}

.modal-body .team-schedule{
	cursor:pointer !important;
}

.modal-body .team-schedule-week{
	background-position:-40px 50%;
	margin-bottom:5px;
	height:40px;
	cursor:pointer;
}

.division-container{
	padding:0px;
}

@media(max-width:767px){
	#navbar-1 .navbar-container{
		background-image:none;
	}
}

.navbar-logo{
	overflow:hidden;
}

.navbar-logo img{
	margin-top:-30px;
	left:0;
	height:auto;
	width:64px;
}

.interface-button{
	background:#1f65b0;
	color:#fff;
	display:inline-block;
	margin:5px;
	padding:5px;
	width:150px;
	max-width:100%;
	cursor:pointer;
}

.interface-button:hover{
	background:#2c89ec;
}

#results{
	background:#eee;
	margin-bottom:30px;
	border:5px solid #9c9999;
	padding:10px;
}

#results .title{
	background:#0057b3;
	color:#fff;
	font-size:18px;
	padding:5px;
	margin-bottom:5px;
	border:2px solid #eee;
	outline:1px solid #0057b3;
}

#results table{
	width:100%;
	table-layout:fixed;
	background:#ddd;
	border:1px solid #aaa;
	border-collapse:separate;
	border-spacing:1px;
}

#results table th{
	background:#114c9c;
	color:#fff;
	text-align:center;
	font-size:12px;
	font-weight:400;
	border:1px solid #b6b6b6;
	padding:3px 0;
}

#results table td{
	background:#fff;
	font-size:12px;
	font-weight:400;
	text-align:center;
	padding:2px;
	border:1px solid #b6b6b6;
}

#results table td.row-name{
	background:#cc2828;
	color:#fff;
}

#results table td.row-value{
	font-size:10px;
}

#results table td.total{
	background:#faff16;
}